.modals-container{
    position: absolute;
    background-color: rgb(56, 56, 56);
    left: 0; 
    right: 0; 
    margin: 50px auto;     
    width: 50vw;
    padding: 5vh;
}

.close-button{
    width: 3vw;
    height: 6vh;
    background-color: rgb(77, 77, 77);
    padding: 5px;
    border-radius: 5px;
}

.form-field{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
